.techskill {
    padding: 6rem 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    background: linear-gradient(
            90deg,
            fade-out($white, 0.9) 0%,
            fade-out($white, 0.9) 100%
        ),
        url('../img/technology_background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        font-size: 3.5rem;
        font-weight: 700;
        display: block;
        // max-width: 30rem;
    }

    h5 {
        max-width: 50rem;
    }
}
